In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\aarza\Desktop\Dataset\students_placement.csv")

In [3]:
df.head()

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [4]:
x=df.drop('placed',axis=1)

In [5]:
x

     cgpa   iq  profile_score
0    5.97  106             61
1    6.83  113             77
2    6.60  110             61
3    5.54  113             68
4    6.84  102             67
..    ...  ...            ...
295  6.44  107             54
296  6.09  108             52
297  7.68  101             70
298  7.00   90             28
299  4.79  118             70

[300 rows x 3 columns]

In [6]:
colm=x.columns

In [7]:
from sklearn.preprocessing import RobustScaler

In [8]:
model=RobustScaler()

In [9]:
x=model.fit_transform(x)

In [10]:
x=pd.DataFrame(x,columns=colm)

In [11]:
x

         cgpa        iq  profile_score
0   -0.582915  0.192308       0.055556
1   -0.006700  0.730769       0.944444
2   -0.160804  0.500000       0.055556
3   -0.871022  0.730769       0.444444
4    0.000000 -0.115385       0.388889
..        ...       ...            ...
295 -0.268007  0.269231      -0.333333
296 -0.502513  0.346154      -0.444444
297  0.562814 -0.192308       0.555556
298  0.107203 -1.038462      -1.777778
299 -1.373534  1.115385       0.555556

[300 rows x 3 columns]

In [12]:
y=df['placed']

In [13]:
y.value_counts()

1    152
0    148
Name: placed, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=2)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [17]:
model1=LogisticRegression()
model1.fit(x_train,y_train)
y_pred=model1.predict(x_test)
accuracy_score(y_test,y_pred)

0.8833333333333333

In [18]:
from sklearn.svm import SVC

In [19]:
model2=SVC(kernel='rbf')
model2.fit(x_train,y_train)
y_pred=model2.predict(x_test)
accuracy_score(y_test,y_pred)

0.9

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
model3=DecisionTreeClassifier()
model3.fit(x_train,y_train)
y_pred=model3.predict(x_test)
accuracy_score(y_test,y_pred)

0.8333333333333334

In [22]:
from sklearn.naive_bayes import GaussianNB

In [23]:
model4=GaussianNB()
model4.fit(x_train,y_train)
y_pred=model4.predict(x_test)
accuracy_score(y_test,y_pred)

0.8833333333333333

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
model5=RandomForestClassifier()
model5.fit(x_train,y_train)
y_pred=model5.predict(x_test)
accuracy_score(y_test,y_pred)

0.9

In [26]:
import pickle

In [28]:
pickle.dump(model2,open('model.pkl','wb'))#wb--->write in binary